.gallery {
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(213, 213, 213);
}

.gallery-img {
  width: 750px;
  height: 100%;
  object-fit: fill;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 30px;
  padding: 10px 18px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  position: absolute;
}

.btn:hover {
  background-color: rgb(125, 125, 125);
  color: white;
}

.deleteBtn {
  /* background-color: transparent; */
  top: 10px;
  right: 10px;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  /* position: absolute; */
  right: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  margin: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
}