.pallette-div {
  /* width: 800px; */
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(213, 213, 213);
}
.pallette-img {
  /* width: 100%; */
  width: 750px;
  height: 100%;
  /* height: 200px; */
  /* background-color: blue; */
  /* position: absolute; */
  object-fit: contain;
}

.info {
  position: absolute;
  bottom: -50px;
}

.btn {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  padding: 10px 18px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  position: absolute;
}

.btn:hover {
  background-color: rgb(128, 181, 255);
  color: white;
}

.deleteBtn {
  background-color: transparent;
  top: 10px;
  right: 10px;
}

.deleteBtn:hover {
  background-color: rgb(85, 85, 85);
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  /* position: absolute; */
  right: 10px;
}