.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 40%);

  /* 리스트창 중앙정렬 하기위함 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-modal {
  width: 1400px;
  height: 1000px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.display-row-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 15px;
  margin-bottom: 10px;

  /* word-wrap: break-word; */
  word-break:break-word;
  /* white-space: normal; */
}

.post-image {
  flex: 7;
  /* background-color: blue; */
}
.post-content {
  flex: 3;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.post-header {
  border-bottom: 1px solid #f1f1f1;
}

.post-header .name {
  padding: 20px 0px;
}

.name {
  font-weight: bold;
  flex-shrink: 0;
}

.post-body {
  margin-bottom: 20px;
  background-color: aliceblue;
}


.post-comments {
  overflow-y: auto;
  /* height: 60%;  flex 로 해결*/
  flex-grow: 1;
}
