.container {
  /* background-color: blue; */
  width: 350px;
  margin: auto;
  padding: 20px 0px;
  border: 1px solid rgb(217, 217, 217);
}

.title {
  text-align: center;
  font-size: 45px;
  padding: 35px 0px;
  margin: 0;
}

.form {
  /* background-color: red; */
  width: 250px;
  margin: auto;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputField {
  /* background-color: blue; */

}

.buttonField {
  /* margin-top: 20px; */
  padding: 25px 0px 30px 0px;
}