.skeleton {
  background-color: rgb(180, 180, 180);
  position: absolute;
  /* margin: auto; */
  border-radius: 15px;
  margin: auto;
}

.article {
  width: 500px;
  height: 40px;
}

.image {
  width: 150px;
  height: 150px;
}